html {
	background: rgb(2,2,2) url('../3.jpg') top center no-repeat;
}

h1 img {
	float:left;
	margin-bottom: 15px;
	margin-top: -20px;
	padding-right: 15px;
}

h1 {
	padding:25px 0;
	margin-top:60px;
}

form {
	clear:both;
	margin-bottom:40px;
	padding-bottom:20px;
	border-bottom:1px dotted #fff;
}

#submitTanks {
	clear:both;
}

#submit {
	float:right;
	margin-top:26px;
}

#container {
	width:960px;
	margin:0 auto;
}

#logout, #settings {
	float:right;
	text-align:center;
	margin-top:-20px;
	display:block;
	width:60px;
	height:60px;
	padding:20px;
	background:rgba(255,255,255,0.1);
	border:1px solid rgba(255,255,255,0.1);
	border-radius:50%;
}

#settings {
	margin-right:10px;
}

#logout a, #settings a {
	position:relative;
	top:18px;
}

#loginbox {
	width:310px;
	margin: 0 auto;
	padding:20px;
	text-align:center;
}

#loginbox h1 {
	font-size:78px;
	font-weight:bold;
	line-height:64px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

#loginbox a {
	display:block;
	text-indent:-9999px;
	width:310px;
	height:336px;
	margin-top:60px;
	background:url('../QSF-login.png') center center no-repeat;
	background-size:100%;
	transition: background-size 0.1s ease-in;
	-moz-transition: background-size 0.1s ease-in;
	-ms-transition: background-size 0.1s ease-in;
	-o-transition: background-size 0.1s ease-in;
	-webkit-transition: background-size 0.1s ease-in;
}

#loginbox a:active {
	background-size:90% !important;
}

fieldset {
	margin-top:62px;
	background:rgba(0,0,0,0.25);
}

legend {
	padding: 10px;
	font-weight:bold;
	background:rgba(0,0,0,0.25);
	position:relative;
	top:-22px;
}

#roster td {
	border-right: 1px solid rgba(255,255,255,0.2);
	text-align:center;
	vertical-align: middle;
}

#roster td.first {
	text-align:left !important;
	padding-left:45px !important;
}

#roster th.first {
	text-align:left !important;
	padding-left:15px !important;
}

#roster tr.personal {
	background:rgba(255,140,0,0.25);
}

#roster tfoot th {
	color:red;
}

#roster th.green {
	color:green !important;
}

#tanktable {
	clear:both;
	margin-top:60px;
}

table.tanks {
	float:left;
	width:306px;
	margin-right:20px;
}

table.last {
	margin-right:0px !important;
}

table.tanks td {
	padding:5px 10px;
	font-size:12px;
	vertical-align:middle;
}

table.tanks td.cw {
	border-left:1px solid green;
}

table.tanks thead {
	font-weight:bold;
}

#roster td.highlight {
	background:rgba(255,140,0,0.1) !important;
}

table.tanks td:nth-child(2) {
	border-left: 1px solid rgba(255,255,255,0.2);
}

table.tanks td.icon {
	width:60px;
}

table.tanks td.box {
	width:10px !important;
}